body {
	overflow-x: hidden;
}
.Add-Element-Fields .form-group{
	margin-top: 10px;
}
.clear{
	clear: both;
}
.Element{
	position: relative;
}
.Delete-Element{
	position: absolute;
    top: 5px;
    right: -5px;
    color: #fff;
    padding: 0px 5px;
    line-height: 21px;
    cursor: pointer;
    opacity: 0.2;
    background-color: #f00;
    border-radius: 50%;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}
.Delete-Element:hover{
	opacity: 1;
}
.validation-invalid {
	color: #F00;
}
.menus {
	border-radius: 0;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#383c3f), to(#202224));
    background-image: -webkit-linear-gradient(top, #383c3f, 0%, #202224, 100%);
    background-image: -moz-linear-gradient(top, #383c3f 0%, #202224 100%);
    background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383c3f', endColorstr='#ff202224', GradientType=0);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.1),4px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.1),4px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.1),4px 0px 15px 0px rgba(0,0,0,0.3);
}
.logo,.logo:hover {
	display: inline-block;
	padding: 10px 0 0;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.item-outer {
	padding: 20px;
	background-color: rgba(250, 250, 250, 0.33);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	min-height: 90vh;
	overflow: hidden;
}
.cleft {
	padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 20px;
    min-height: 90vh;
}
.form-control:focus {
	border: none;
	box-shadow: none;
	border: 1px solid #ddd;
}
.cleft h3 {
	font-size: 18px;
	margin: 0 0 20px;
	padding: 8px 10px;
	color: #fff;
	background-color: #2B967A;
    /*color: #fff;
    border: 1px solid #148f77;
    border-bottom: 1px solid #0e6252;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1abc9c), to(#17a689));
    background-image: -webkit-linear-gradient(top, #1abc9c, 0%, #17a689, 100%);
    background-image: -moz-linear-gradient(top, #1abc9c 0%, #17a689 100%);
    background-image: linear-gradient(to bottom, #1abc9c 0%, #17a689 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1abc9c', endColorstr='#ff17a689', GradientType=0);
*/}
.forms-outer {
	padding: 0 20px;
}
.form-horizontal .control-label {
	text-align: left;
	font-size: 12px;
}
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
.cright {
	position: absolute;
    min-height: 100vh;
    top: 0;
    right: -30px;
    width: 30%;
    border: none;
    box-shadow: 13px 0px 13px rgba(0,0,0,0);
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    margin: 0 23px;
}
.fields {
	position: relative;
}
.add-menu {
	color: #fff;
    font-size: 16px;
    display: inline-block;
    float: right;
    background-color: #195A4C;
    padding: 3px;
    border-radius: 2px;
    margin: 10px 0 0;
    cursor: pointer;
}
.close,.close:hover {
	padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid rgba(253, 0, 0, 0.67);
    opacity: .7;
    color: rgba(253, 0, 0, 0.78);
    text-shadow: none;
}

/*forms*/
.text-fields label,.textarea-field label,.date-fields label,.select-fields label{
	font-size: 14px;
	padding: 0 0 8px;
	display: block;
}
.text-fields input[type="text"],.textarea-field textarea,.date-fields input[type='date'],.select-fields select {
	padding: 7px;
    border: 1px solid rgba(0,0,0,0.12);
    padding-left: 15px;
    font-size: 13px;
    outline: none;
    font-weight: 400;
    background-color: #fff !important;
    box-shadow: none;
    border-radius: 0;
}
.textarea-field textarea {
	height: 100px;
}
.sub_form{
    margin-top: 20px;
}
.Subform-Creation-Button{
    margin-top: 15px;
}