<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/icons.css" />
	<link rel="stylesheet" type="text/css" href="css/style2.css" /> -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-local-storage.min.js"></script>
	<script type="text/javascript" src="js/angular/app.js"></script>
	<script type="text/javascript" src="js/angular/angular-validation.js"></script>
	<script type="text/javascript" src="js/angular/angular-validation-rule.js"></script>
	<script type="text/javascript" src="js/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/angular/controller/pricingController.js"></script>

</head>
<body ng-app="pricingApp">
	<nav class="navbar navbar-inverse menus">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="#">Dynamic Form</a>
        </div>
        <div class="add-menu">Create Forms</div>
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

		<div class="container item-outer" ng-controller="pricingController">
			<div class="cleft">
				<h3>Preview</h3>
				<div class="forms-outer">
					<div class="form-horizontal">
						<div class="fields" ng-repeat="element in elements track by $index">
							<div compile="element.html">
							</div>
							<span class="Delete-Element" ng-click="deleteElement($index)" title="Delete the Element">x</span>
						</div>
						<div ng-if="elements.length>0" class="Subform-Creation-Button">
							<div class="checkbox">
								<label class="">
									<input type="checkbox" ng-model="sub_form.make"> Mark as subform
								</label>
							</div>
							<div class="clear"></div>
							<div ng-if="sub_form.make">
								<div class="form-group">
								  <label class="col-md-3 control-label">Subform name</label>
									<div class="col-md-9">
								  	<input type="text" ng-model="sub_form.name" class="form-control">
								  </div> 
								</div>
								<div class="clear"></div>
							</div>
							<div>
								<button type="button" class="btn btn-primary" ng-click="mark_as_subform()">Save</button>
							</div>
						</div>
				</div>
			</div>

			<div class="col-md-6 cleft cright">
				<h3>Create the Form <span class="close">Close</span></h3>
				<div class="forms-outer">
					<div class="row ">
					<div class="form">
						<div class="basic_elements" ng-include="'templates/basic_elements.html'">
						</div>
					</div>	
					</div>
				</div>
			</div>
		</div>
<div class="hide">
<div id="text_template">
	<ul class="list-unstyled text-fields">
		<li>
			<label class="control-label"></label>
			<input type="text">
		</li>
	</ul>
	<!-- <div class="form-group">
		<label class="col-md-3 control-label"></label>
		<div class="col-md-9">
			<input class="form-control" type="text">
		</div>
	</div> -->
</div>
	<div class="form-group" >
	  <label class="col-md-3 control-label"></label>
		<div class="col-md-9">
	  	<input type="text">
	  </div>
	</div>
<div id="date_template">
	<div class="date-fields" >
	  	<label class="control-label"></label>
		<input type="text" ui-date class="form-control">
	</div>
</div>
<div id="textarea_template">
	<div class="textarea-field">
		<label class="control-label"></label>
		<textarea class="form-control"></textarea>
	</div>
</div>
<div id="select_template">
	<div class="select-fields">
		<label class="control-label"></label>
		<select class="form-control"></select>
	</div>
</div>
<div id="checkbox_template">
	<div class="checkbox">
		<label class="col-md-3 control-label">
			<input type="checkbox">
		</label>
	</div>
</div>
<div id="radio_template">
	<div class="radio">
		<label class="col-md-3 control-label">
			<input type="radio">
		</label>
	</div>
</div>
<div id="sub_form_template">
	<div class="well sub_form">
	<h5 class="title"></h5>
	<div class="innerContent">
	</div>
</div>
</div>
<div id="submit_template">
	<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.add-menu').on('click', function(){
		$(".cright").animate({right: "-30px"},500);
		  // var $this = $(this);
		  // if ($this.hasClass('open')) {
		  //   $this.animate({
		  //     right : '-380px'
		  //   }, 500).removeClass('open');
		  // } else {
		  //   $this.animate({
		  //     right : '-30px'
		  //   }, 500).addClass('open');
		  // }
	});
	$('.close').on('click',function(){
		$(".cright").animate({right: "-420px"},500);
	})
});

</script>
</body>

</html>
