<fieldset class="Add-Element-Fields">
	<form class="form-horizontal" ng-submit="addElement()">
   <div class="form-group">
    <label class="col-md-3 control-label" for="name">Input Type</label>
    <div class="col-md-9">
      <select ng-model="add_element.type" class="form-control" ng-options="ele for ele in element_types"></select>
    </div>
  </div>
  <div class="form-group" ng-show="need_options.indexOf(add_element.type)>=0">
    <label class="col-md-3 control-label" for="name">Options</label>
    <div class="col-md-9">
      <textarea class="form-control" placeholder='{"name":"value","name":"value"}' ng-model="add_element.option_value"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Label</label>
    <div class="col-md-9">
      <input ng-model="add_element.label" class="form-control" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Placeholder</label>
    <div class="col-md-9">
      <input ng-model="add_element.placeholder" class="form-control" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Validation</label>
    <div class="col-md-9">
      <select  ng-model="add_element.validation_string" ng-options="valid for valid in validation_rules" class="form-control"></select>
    </div> 
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Class name</label>
    <div class="col-md-9">
      <input ng-model="add_element.class_name" class="form-control" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Layout</label>
    <div class="col-md-9">
      <select  ng-model="add_element.layout" class="form-control" ng-options="l for l in layouts"></select>
    </div> 
  </div>
  <div class="form-group" ng-show="add_element.layout=='Multiple'">
    <label class="col-md-3 control-label">Limit for No.of Blocks</label>
    <div class="col-md-9">
      <input type="text" ng-model="add_element.max_size" class="form-control">
    </div> 
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Default Visibility</label>
    <div class="col-md-9">
      <select  ng-model="add_element.visible" class="form-control" ng-options="l for l in visible"></select>
    </div>
  </div>
  <div class="form-group" ng-show="add_element.visible == 'Show On'">
    <label class="col-md-3 control-label" for="name">Show when value of</label>
    <div class="col-md-9">
      <select ng-model="add_element.conditionShowLeft" class="form-control" ng-options="item as item.label for item in elements"></select>
    </div>
  </div>
  <div class="form-group" ng-show="!isEmpty(add_element.conditionShowLeft)">
    <label class="col-md-3 control-label" for="name">is</label>
    <div class="col-md-9">
      <input type="text" ng-model="add_element.conditionShowRight">
    </div>
  </div>
  <div class="form-group" ng-show="add_element.visible == 'Hide On'">
    <label class="col-md-3 control-label" for="name">Hide when value of</label>
    <div class="col-md-9">
      <select ng-model="add_element.conditionHideLeft" class="form-control" ng-options="item as item.label for item in elements"></select>
    </div>
  </div>
  <div class="form-group" ng-show="!isEmpty(add_element.conditionHideLeft)">
    <label class="col-md-3 control-label" for="name">is</label>
    <div class="col-md-9">
      <input type="text" ng-model="add_element.conditionHideRight">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Extra Attributes</label>
    <div class="col-md-9">
      <textarea class="form-control" placeholder='{"name":"value","name":"value"}' ng-model="add_element.custom_attributes"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name"></label>
    <div class="col-md-9">
     <button type="submit" class="btn-primary btn">Add Fields</button>
   </div>
 </div>
</form>
</fieldset>